* {
    background: rgb(226, 228, 218);
}
ul li {
    align-content: flex;
    background-color: rgb(191, 191, 238);
    width: 400px;
}

p{
    width: 400px;
    align-content: center;
    margin-left: 2em;
}
.welcome > p{
    background-color: rgb(205, 164, 50);
}
h1 {
    background-color: yellow;
}